<div class="footer-wrapper">
    <footer class="footer ">
        <div class="footer__top">
            <div class="footer__top_i clearfix">
                <div class="region region-footer">
                    <section id="block-block-41" class="block block-block clearfix">
                    </section>
                    <section id="block-block-45" class="block block-block clearfix">
                        <div class="footer__top">
                            <div class="footer__top_i clearfix">
                                <div class="col1">
                                    <a class="btn-orange btn_big" href="http://simpl.com.ua/kitchens"><button>Каталог
                                            кухонь</button></a>
                                    <p>
                                        Запитайте у менеджера <strong>+380 44 363 20 33</strong>
                                    </p>
                                </div>

                                <div class="col2 clearfix">
                                    <ul class="clearfix">
                                        <li><a href="http://simpl.com.ua/">Головна</a></li>
                                        <li><a href="http://simpl.com.ua/production">Виробництво</a></li>
                                        <li><a target="_blank" href="http://simpl.com.ua/3d-tur">3D-тур</a></li>
                                        <li><a target="_blank" href="http://simpl.com.ua//how-to-buy">Как купити</a>
                                        </li>
                                        <li><a target="_blank" href="http://simpl.com.ua//benefits">Переваги кухонь</a>
                                        </li>
                                        <li><a target="_blank"
                                                href="http://simpl.com.ua//constructor">ОНЛАЙН-КОНСТРУКТОР</a></li>
                                    </ul>

                                    <div class="btn_footer1">
                                        <a class="btn-white btn_wide btn-fancy" id="fan">
                                            <button id="fan1">залишити онлайн-заявку</button>
                                        </a> <a class="btn-white btn_square"
                                            href="https://www.facebook.com/simplkitchen">
                                            <button>f</button>
                                        </a> <a class="btn-white btn_square"
                                            href="https://www.instagram.com/simplkuhni/">
                                            <button>I</button>
                                        </a>
                                    </div>
                                </div>

                                <div class="col3">
                                    <ul>
                                        <li><a href="http://simpl.com.ua/service-and-delivery">Сервіс та доставка</a>
                                        </li>
                                        <li><a href="http://simpl.com.ua/articles">Корисні статті</a></li>
                                        <li><a href="http://simpl.com.ua/garantii">ГАРАНТІЇ</a></li>
                                        <li><a href="http://simpl.com.ua/faq">Питання-відповідь</a></li>
                                        <li><a href="http://simpl.com.ua/instruction">Інструкції</a></li>
                                        <li><a href="http://simpl.com.ua/contact">Контакти</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn_footer">
                                <a class="btn-white btn_wide btn-fancy" id="fan">
                                    <button>залишити онлайн-заявку</button>
                                </a>
                                <div class="btn_soc">
                                    <a class="btn-white btn_square" style="float: left;" href=" ">
                                        <button>f</button>
                                    </a> <a class="btn-white btn_square" style="float: right;">
                                        <button>I</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </footer>
</div>