<div class="row hw-2">
    <div class="container">
        <div class="main-el-wrapper">
            <div class="hederm">
                <div class="logo">
                    <div class="visible-md-block" style=""></div>
                    <a class="logo" href="http://simpl.com.ua/" title="Главная">
                        <img src="http://tehnika.simpl.com.ua/sites/default/files/logo.png" alt="Главная">
                    </a>
                </div>
                <div class="phone">
                    <a href="tel:+380443632033">+38044 363 20 33</a><br>
                    <a href="tel:+380674065555">+38067 406 55 55</a> <br>
                    <a href="tel:+380954065555">+38095 406 55 55</a>
                </div>

                <div class="hcontacts">
                    <section id="block-block-1" class="block block-block clearfix">


                        <nav class="menu_mobile  d-lg-none ">
                            <a href="http://simpl.com.ua/  ">Главная </a>
                        </nav>
                        <div class="mnav">
                            <nav class="mnav_i">
                                <a class="all-nav " href="#">меню <span><i></i><i></i><i></i></span></a>
                                <ul class="mn  ">
                                    <li><a href="http://simpl.com.ua/kitchens">Кухни</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/3d-tur">3D-тур</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/production">Производство</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/constructor">ОНЛАЙН-КОНСТРУКТОР</a>
                                    </li>
                                    <li><a target="_blank" href="http://simpl.com.ua/online-calculate">Онлайн-расчет</a>
                                    </li>
                                    <li><a href="/uk">UKR</a></li>


                                </ul>
                            </nav>


                            <nav class=" morenav clearfix">
                                <div class="close"></div>
                                <ul>
                                    <li><a href="http://simpl.com.ua/">Главная</a></li>
                                    <li><a href="http://simpl.com.ua/production">Производство</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/3d-tur">3D-тур</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/how-to-buy">Как купить</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/benefits">Преимущества кухонь</a>
                                    </li>
                                    <li><a target="_blank" href="http://simpl.com.ua/constructor">ОНЛАЙН-КОНСТРУКТОР</a>
                                    </li>
                                    <li><a target="_blank" href="http://simpl.com.ua/online-calculate">Онлайн-расчет</a>
                                    </li>
                                    <li><a target="_blank" href="http://simpl.com.ua/articles">Полезные статьи</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/service-and-delivery">Сервис и
                                            доставка</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/faq">Вопрос-ответ</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/garantii">ГАРАНТИИ</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/instruction">Инструкции</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/contact">Контакты</a></li>
                                    <li><a target="_blank" href="http://simpl.com.ua/kitchens">Кухни</a></li>


                                </ul>
                            </nav>

                            <div class="head_basket">
                                <div class="basket">
                                    <div style="font-size:12px;margin-top: 13px;">
                                        <a href="#">
                                            <img style="width: 32px;" src="/sites/default/files/cart2.png">
                                            <span class="product_caunt">(0)</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                    <h1 class="page-header"> <a href="http://tehnika.simpl.com.ua/">Техника</a></h1>
                    <ol class="breadcrumb hidden-xs hidden-sm">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/">Техника</a></li>
                        <!--<li class="active">Техника</li>-->
                    </ol>
                </div>

            </div>

        </div>
    </div>
    <div class="hederl1">

        {{ drupal_entity('block_content', 7) }}

        <div>
            <section id="block-block-1" class="block block-block clearfix">
                <nav class="menu_mobile hidden-lg ">
                    <a href="http://simpl.com.ua/  ">Главная </a>
                </nav>
                <div class="mnav">
                    {{ drupal_menu('mainmenuru') }}
                    <nav class=" morenav clearfix">
                        <div class="close"></div>
                        {{ drupal_menu('mainmenurightru') }}
                    </nav>
                    <div class="head_basket 11">
                        {{ drupal_region('shopping_cart') }}
                    </div>
                </div>
            </section>
        </div>

    </div>
    <div class="wrap-center">
        <div class="logo">
            <div class="visible-md-block" style=""></div>
            <a class="logo" href="http://simpl.com.ua/" title="Главная">
                <img src="/sites/default/files/logo.png" alt="Главная">
            </a>
        </div>
    </div>
    <div class="header-2">
        <div class="hederl">
            <div class="hcontacts">
                <h1 class="page-header">Техника</h1>
                <ol class="breadcrumb hidden-xs hidden-sm">
                    <li><a href="http://simpl.com.ua/">Главная</a></li>
                    <li><a href="/">Техника</a></li>

                </ol>
            </div>

        </div>

    </div>
</div>