<nav class="menu_mobile hidden-lg ">
    <a href="http://simpl.com.ua/  ">Главная </a>
</nav>
<div class="mnav">
    <nav class="mnav_i">
        <a class="all-nav " href="#">меню <span><i></i><i></i><i></i></span></a>
        <ul class="mn  ">
            <li><a href="http://simpl.com.ua/kitchens">Кухни</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/3d-tur">3D-тур</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/production">Производство</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/constructor">ОНЛАЙН-КОНСТРУКТОР</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/online-calculate">Онлайн-расчет</a></li>


        </ul>
    </nav>


    <nav class=" morenav clearfix">
        <div class="close"></div>
        <ul>
            <li><a href="http://simpl.com.ua/">Главная</a></li>
            <li><a href="http://simpl.com.ua/production">Производство</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/3d-tur">3D-тур</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/how-to-buy">Как купить</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/benefits">Преимущества кухонь</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/constructor">ОНЛАЙН-КОНСТРУКТОР</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/online-calculate">Онлайн-расчет</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/articles">Полезные статьи</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/service-and-delivery">Сервис и доставка</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/faq">Вопрос-ответ</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/garantii">ГАРАНТИИ</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/instruction">Инструкции</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/contact">Контакты</a></li>
            <li><a target="_blank" href="http://simpl.com.ua/kitchens">Кухни</a></li>






        </ul>
    </nav>

    <div class="head_basket">
        <div class="basket">
            <?php
                   global $user, $base_url;
                   $order = commerce_cart_order_load($user->uid);
                   if (!empty($order)) {
                       $wrapper = entity_metadata_wrapper('commerce_order', $order);
                       $line_items = $wrapper->commerce_line_items;
                       $total = commerce_line_items_total($line_items);
                       $currency = commerce_currency_load($total['currency_code']);
                       $quantity = commerce_line_items_quantity($line_items, commerce_product_line_item_types());
                       $summ = commerce_currency_format($total['amount'], $total['currency_code']);
                   }
                   ?>
            <div style="font-size:12px;margin-top: 13px;"><a href="#"><img style="width: 32px;"
                        src='/sites/all/themes/main/img/cart2.png' /> <span class="product_caunt"><?php if (!empty($quantity)) echo ($quantity) ;
                else echo '(0)'; ?></span></a></div>
        </div>
    </div>
</div>



<!--<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 head-phone">
			(097) 099-15-36<br />
			(073) 044-86-46
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 head-phone">
			(044) 364-00-25<br />
			(099) 227-50-91
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 head-graph">
			<img src='/sites/all/themes/main/img/chasi.png'/>ПН-ПТ<br />
			09:00 до 19:00
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 head-busket">
			<a href="/cart"><img style="width: 32px;" src='/sites/all/themes/main/img/cart2.png'/><span class='cart'>МОЯ КОРЗИНА</span></a>
			<div class="basket">
                   <?php
                   global $user, $base_url;
                   $order = commerce_cart_order_load($user->uid);
                   if (!empty($order)) {
                       $wrapper = entity_metadata_wrapper('commerce_order', $order);
                       $line_items = $wrapper->commerce_line_items;
                       $total = commerce_line_items_total($line_items);
                       $currency = commerce_currency_load($total['currency_code']);
                       $quantity = commerce_line_items_quantity($line_items, commerce_product_line_item_types());
                       $summ = commerce_currency_format($total['amount'], $total['currency_code']);
                   }
                   ?>
                <div style="font-size:12px"><a href="/cart">Выбрано товаров: <br/><?php if (!empty($quantity)) echo $quantity . ' шт / ' . $summ;
                else echo '0 шт / 0 грн'; ?></a></div>
            </div>
		</div>	-->