<div class="container-fluid header_main">
    {{page.header_main}}

</div>

<div class="container">
    <div class="row">
        {{page.product}}
    </div>
</div>

<div class="container-fluid footer_main">
    {{page.footer_main}}
</div>