<div class="container-fluid header_main">
    {{page.header_main}}

</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 filter">
            <div class="region region-sidebar-first well">
                {{page.filter}}
            </div>
        </div>
        <div class="col-md-9 content">
            <div class="row">
                {{page.product}}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer_main">
    {{page.footer_main}}
</div>