<div class="container-fluid header_main">
    {{page.header_main}}
</div>


<div class="container-fluid content_nain">
    {{page.content_front}}
</div>



<div class="container-fluid footer_main">

    {{page.footer_main}}


</div>